* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* min-height: 100vh; */
  background-color: #181719;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 90%;
  margin: 10px auto;
}

/* HEADER */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  z-index: 99;
  background-color: #181719;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-ul {
  display: flex;
}

.nav-ul li {
  margin-left: 86px;
}

.nav-a {
  font-weight: 500;
  padding-bottom: 5px;
}

.nav-a:hover {
  border-bottom: 2px solid white;
}

.nav-a.clicked {
  font-weight: 700;
}

.logo {
  width: 130px;
  padding: 6px;
  border: 1px solid white;
}

.logo h3 {
  text-transform: uppercase;
  font-family: "Crimson Pro", serif;
  font-weight: 200;
}

/* HAMBURGER */
.hamburger {
  width: 30px;
  height: 40px;
  padding: 8px 0px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 4px;
  background: white;
  display: block;
  transform-origin: 3.5px 2px;
  transition: all 0.4s;
}

.hamburger.open .line:first-child {
  transform: rotate(45deg);
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:last-child {
  transform: rotate(-45deg);
}

/* MAIN */
main {
  margin: 38px 0;
  padding-top: 50px;
}

main .container {
  display: flex;
  flex-direction: column;
}

.col-left h1 {
  font-family: "Lora", serif;
  font-weight: 500;
  /* font-size: 3rem; */
  font-size: calc(1vw + 1.8rem);
}

.paragraph {
  width: 60%;
  margin: 25px 0;
}

.col-left p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.4;
}

.col-left .btn {
  font-weight: 700;
  width: 140px;
  display: flex;
  align-items: center;
}

.material-icons {
  padding-left: 15px;
  height: 21px;
}

.col-right {
  margin: 25px 0;
}

.col-right h1 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 1.125rem;
}

.col-right {
  position: relative;
}

.col-right .description {
  /* z-index: 2; */
  background-color: #181719;
  box-shadow: 0px 4px 4px 0px #000000 25%;
  width: 300px;
  /* max-width: 300px; */
  padding: 20px;
  position: absolute;
  right: 20px;
  top: 80%;
}

.col-right .profile {
  display: flex;
  margin-bottom: 15px;
}

.col-right .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.col-right .image-profile {
  margin-right: 10px;
}

.col-right .bio-profile > * {
  font-weight: 500;
}

.col-right .bio-profile h4 {
  font-size: 0.75rem;
  margin: 5px 0px;
  line-height: 23px;
}

.col-right .bio-profile p {
  color: #828282;
  font-size: 0.625rem;
}

/* for navbar and menu hamburger */
@media screen and (max-width: 800px) {
  .hamburger {
    display: flex;
  }
  .nav-ul {
    background-color: #181719;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.5s;
  }

  .nav-ul.show {
    transform: translateX(0);
  }
  .nav-ul li {
    margin: 16px 0;
  }
}

@media screen and (min-width: 800px) {
  main {
    padding: 20px;
  }
  main .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .col-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .col-right .description {
    width: 300px;
    height: auto;
    right: 20px;
    top: 80%;
  }
}
